.footer{
    font-family: var(--main-font-family);
  
    background-color:#e4e4e4;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 140px;
    padding: 40px;
  }
  
  .block{
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }

  a{
    text-decoration: none;
    color: black;
  
  }
  