.footer{
    font-family: var(--main-font-family);
    background-color:#e4e4e4;
    position: relative;
    bottom: 0;
    width: 100%;
    
  }
  
  .block{
    display: flex;
    flex-direction: column;
    line-height: 30px;
  
  }

  .block h4{
    font-weight: bolder;
  }


  .container{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 140px;
    padding: 40px;
    margin: auto;
  }

  