:root{
    --main-font-family :'Raleway', sans-serif;
}

.products{
    font-family: var(--main-font-family);
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
.popular{
    margin: auto;
    padding-top: 100px;
    
}


.carouselItem{
    width: 1000px;
    margin: auto;
}