:root{
  --main-font-family :'Raleway', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.head-top{
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: baseline;
  margin-right: 30px;
}

.cancel{
  border: none;
  background-color: transparent;
}

.modalBody{
  display: flex;
  flex-direction: column;
  height: 340px;
 
  
}

.modalHeader{
  font-size: 30px;
}

.modal_form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: baseline;
  margin:auto;
}

.input-style{
  width: 100%;
  height: 40px;
}



.modalButton{
  width: 450px;
  border: none;
  height: 50px;
  
}

.top{
  background-color: black;
  color: white;
}

.bottom{
  border: 2px solid black;
  background-color: transparent;
}

.remember{
  display: flex;
  gap: 8px;

}

.date{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date input{
  width: 447px;
  height: 40px;
}

.modalFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;
}



.single{
  height: 250px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.product-image{
  height: 110px;
  width: 100px;
}



.product-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  
}